@import "tailwindcss";

/* Apply the imported font globally */
body {
    font-family: 'Inter', 'Lexend', 'Manrope', 'Merienda', 'Montserrat', 'Space Grotesk', sans-serif;
}
.fontleading {
    font-family: 'Montserrat', sans-serif;
}

@layer components {
    .hero-section {
        background-image:  linear-gradient(to right, rgba(149, 149, 173, 0.8), rgba(227, 223, 238, 0.8)), url('./assets/images//hero-image.jpeg');
        background-size: cover;
        background-color: center
    }
}